*:focus {
    outline: 0;
}
.fleava__footer {
    background: black;
    color: white;
    font-size: 0.75em;
    > div > .uk-margin-large-top {
        margin-top: 20px!important;
    }
    &-logo {
        width: 50%;
    }
    h4 {
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
    }
    p {
        line-height: 2;
    }
    .uk-list {
        a:link,
        a:visited {
            color: white;
        }
    }
    .uk-input {
        border-bottom: 1px solid white;
        padding-left: 0;
        padding-right: 0;
    }
}
