// Used to customize fleava__blogs and inheritance

.fleava__blogs {
    &-meta {
        display: block;
        padding: 15px 0;
        font-size: 0.875em;
        font-weight: 600;
    }
    h3 {
        font-weight: 600;
    }
    a.uk-card:hover {
        color: inherit;
    }
}
